/* ==========================================================================
   ResearchOps UI • Account team access route stylesheet source
   Service:    Home Office Biometrics — ResearchOps
   Route:      /pages/account/team-access/
   Build:      GOV.UK Frontend components with route-specific support
   Repo:       /src/styles/account-team-access.scss
   Output:     /public/css/account-team-access.css
   License:    All rights reserved
   ========================================================================== */

@use 'sourcebook-context';
