$hods-timeline-blue: #1d70b8;
$hods-timeline-text: #0b0c0c;

.hods-timeline {
	border-left: 5px solid $hods-timeline-blue;
	margin-bottom: 30px;
	}

.hods-timeline__item {
	margin-bottom: 20px;
	padding-left: 15px;
	position: relative;
	}

.hods-timeline__item::before {
	background-color: $hods-timeline-blue;
	content: "";
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	width: 10px;
	}

.hods-timeline__title {
	color: $hods-timeline-text;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.25;
	margin: 0 0 5px;
	padding-left: 15px;
	}

.hods-timeline__by,
.hods-timeline__date,
.hods-timeline__description {
	color: $hods-timeline-text;
	font-size: 16px;
	line-height: 1.25;
	margin: 0 0 5px;
	padding-left: 15px;
	}

.hods-timeline__description {
	margin-bottom: 0;
	}
