.researchops-home-hero__image-column {
	display: none;
	}

.researchops-home-hero__image {
	display: block;
	width: 100%;
	max-width: 320px;
	margin: 0 0 0 auto;
	}

@media (min-width: 48.0625em) {
	.researchops-home-hero__image-column {
		display: block;
		}
	}

/* transparency begins in the cascade */
