{% macro daasBrandPanel() %}
	<div class="rops-daas-brand-panel" id="daas-brand-panel" hidden aria-label="DaaS">
		<img class="rops-daas-brand-panel__logo" src="/images/brands/daas-logo.svg" alt="DaaS">
	</div>
	<div class="rops-leds-brand-panel" id="leds-brand-panel" hidden aria-label="LEDS">
		<img class="rops-leds-brand-panel__logo" src="/images/brands/leds-logo-white.svg" alt="Law Enforcement Data Service">
	</div>
{% endmacro %}
