{% macro daasBrandPanel() %}
	<div class="rops-daas-brand-panel" id="daas-brand-panel" hidden aria-label="DaaS">
		<img class="rops-daas-brand-panel__logo" src="/images/brands/daas-logo.svg" alt="DaaS">
	</div>
{% endmacro %}
