<!doctype html>
<html class="govuk-template" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" href="/assets/govuk/govuk-frontend.css" media="screen">
	<link rel="stylesheet" href="/css/researchops-fonts.css" media="screen">
	{% block head %}{% endblock %}
	<script type="module" src="/components/layout.js{% if layoutCacheKey %}?v={{ layoutCacheKey }}{% endif %}" defer></script>
	<script type="module" src="/js/govuk-frontend-init.js{% if layoutCacheKey %}?v={{ layoutCacheKey }}{% endif %}" defer></script>
	<script type="module" src="/js/flux-researchops-tracker.1.2.0.js?v=1.2.6" defer></script>
</head>
<body class="govuk-template__body{% if bodyClass %} {{ bodyClass }}{% endif %}" data-flux-page="{{ fluxPageKey | default('page.unknown') }}">
	<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
	<x-include src="/partials/header.html" vars='{"active":"{{ activeNavigation | default("") }}"}'></x-include>
	<main class="govuk-main-wrapper" id="main-content" role="main" tabindex="-1">
		{% block content %}{% endblock %}
	</main>
	<x-include src="/partials/footer.html{% if footerCacheKey %}?v={{ footerCacheKey }}{% endif %}"></x-include>
	{% block scripts %}{% endblock %}
</body>
</html>
