/* GOV.UK main content focus target */

.govuk-skip-link,
.govuk-skip-link:link,
.govuk-skip-link:visited {
	background-color: #ffdd00;
	color: #0b0c0c;
	}

.govuk-skip-link:focus,
.govuk-skip-link:active {
	background-color: #ffdd00;
	color: #0b0c0c;
	outline: 3px solid #0b0c0c;
	}

main#main-content.govuk-main-wrapper:focus,
main#main-content.govuk-main-wrapper:focus-visible {
	outline: none;
	box-shadow: none;
	}

/* transparency begins in the cascade */
