<!-- public/partials/header.html -->
<header class="rops-header" role="banner">
        <div class="rops-header__title" role="heading" aria-level="2">
                {{#title}}
                        <span class="govuk-heading-l">{{title}}</span>
                {{/title}}
                {{^title}}
                        <span class="govuk-heading-l">ResearchOps Demo Suite</span>
                {{/title}}
        </div>
        {{#subtitle}}
                <p class="govuk-heading-m rops-header__subtitle">{{subtitle}}</p>
        {{/subtitle}}
        <nav class="nav govuk-body" data-active="{{active}}" aria-label="Primary navigation">
                <a class="govuk-link" href="/" data-nav="Home">Home</a>
                <a class="govuk-link" href="/pages/start/" data-nav="Start Research Project">Start Research Project</a>
                <a class="govuk-link" href="/pages/projects/" data-nav="Projects">Projects</a>
        </nav>
</header>
